body {
    min-height: 100vh;
    margin: 0px;
    /*background-color: #292727;*/
    background: linear-gradient(45deg, #242323, #251f1fdc, #5e5959);
    color: #cec5c5;
    text-align: center;
}

header {
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: linear-gradient(45deg, #242323, #251f1fdc, #5e5959);
    padding: 10px;
    margin: 0;
}

footer {
    background: linear-gradient(45deg, #242323, #251f1fdc, #5e5959);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.content {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    /*padding-top: 100px;*/
}